<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/static/css/global.css" media="screen" />
	
    <!--<script type="text/javascript" src="http://mbostock.github.com/d3/d3.js"></script>-->
	<!--<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>-->

	<!--<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>-->
</head>
<body>
	<div id="container">
		<div id="left_slot">
	
	<!--<svg width="800px" height="600px" version="1.1" xmlns="http://www.w3.org/2000/svg">-->
		
	<svg viewBox="0 0 1000 1000" preserveAspectRatio="xMinYMin" xmlns="http://www.w3.org/2000/svg" version="1.1">
		<!-- blue line start -->
		<path d="M 590 290 l 70 55 l 140 -2 l 250 -250" stroke="blue" stroke-width="30" fill="none"/>
		<!-- blue line end -->
		<!-- orange line start -->
		<path d="M 670 70 l 0 160 l 50 43 l 0 140 l -350 420" stroke="orange" stroke-width="30" fill="none"/>
		<!-- orange line end -->
		<!-- red line start -->
		<path d="M 300 250 h 120 l 280 230 v 180 l 220 200 v 100" stroke="red" stroke-width="30" fill="none"/>
		<path d="M 700 620 l -80 100 v 140" stroke="red" stroke-width="30" fill="none"/>
		<!-- red line end -->
		<!-- green line start -->
		<path d="M 590 210 l 90 75 l -140 170 h -370" stroke="#3cb509" stroke-width="30" fill="none"/>
		<path d="M 500 460 l -120 140 l 0 30" stroke="#3cb509" stroke-width="30" fill="none"/>
		<path d="M 445 455  l -70 -110 l -130 0 l -40 25 l -60 0" stroke="#3cb509" stroke-width="30" fill="none"/>
		<path d="M 380 455 l -120 110 l -110 0 l -40 -40 l -100 0" stroke="#3cb509" stroke-width="30" fill="none"/>
		<!-- green line end -->
		
		<!-- red line labels start -->
		<text x ="100" y="100" dy=".2em" text-anchor="right" transform="rotate(45 80 365)">Alewife</text>
		<text x ="0" y="0" dy=".2em" text-anchor="right" transform="rotate(45 -73 510)">Davis</text>
		<text x ="452" y="252" text-anchor="right">Porter</text>
		<text x ="400" y="313" text-anchor="right">Harvard</text>
		<text x ="435" y="335" text-anchor="right">Central</text>
		<text x ="428" y="359" text-anchor="right">Kendall/MIT</text>
		<text x ="452" y="382" text-anchor="right">Charles/MGH</text>
		<text x ="717" y="460" text-anchor="right">Downtown Crossing</text>
		<text x ="725" y="495" text-anchor="right">South Station</text>
		<text x ="725" y="530" text-anchor="right">Broadway</text>
		<text x ="725" y="565" text-anchor="right">Andrew</text>
		<text x ="725" y="600" text-anchor="right">JFK/UMass</text>
		<text x ="777" y="700" text-anchor="right">North Quincy</text>.
		<text x ="835" y="750" text-anchor="right">Wollaston</text>
		<text x ="895" y="800" text-anchor="right">Quincy Center</text>
		<text x ="945" y="860" text-anchor="right">Quincy Adams</text>
		<text x ="945" y="950" text-anchor="right">Braintree</text>

		<text x ="650" y="730" text-anchor="right">Savin Hill</text>
		<text x ="650" y="770" text-anchor="right">Fields Corner</text>
		<text x ="650" y="810" text-anchor="right">Shawmut</text>		
		<text x ="650" y="850" text-anchor="right">Ashmont</text>
		<!-- red line labels end -->
		
		<!-- green line labels start -->
		<text x ="514" y="404" text-anchor="right">Park St</text>
		<!-- green line labels end -->
		
		<!-- blue line labels start -->
		<text x ="525" y="292" text-anchor="right">Bowdoin</text>
		<text x ="560" y="338" text-anchor="right">Gov Ctr</text>
		<text x ="645" y="385" text-anchor="right">State</text>
		<text x ="825" y="360" text-anchor="right">Aquarium</text>
		<text x ="855" y="330" text-anchor="right">Maverick</text>
		<text x ="885" y="300" text-anchor="right">Airport</text>
		<text x ="915" y="273" text-anchor="right">Wood Island</text>
		<text x ="942" y="244" text-anchor="right">Orient Heights</text>
		<text x ="975" y="215" text-anchor="right">Suffolk Downs</text>
		<text x ="865" y="170" text-anchor="right">Beachmont</text>
		<text x ="885" y="135" text-anchor="right">Revere Beach</text>
		<text x ="930" y="100" text-anchor="right">Wonderland</text>
		<!-- blue line labels end -->
		
		<!-- orange line labels start -->
		<text x ="575" y="85" text-anchor="right">Oak Grove</text>
		<text x ="552" y="115" text-anchor="right">Malden Center</text>
		<text x ="575" y="145" text-anchor="right">Wellington</text>
		<text x ="695" y="175" text-anchor="right">Sullivan Square</text>
		<text x ="695" y="210" text-anchor="right">Community College</text>
		<text x ="722" y="245" text-anchor="right">North Station</text>
		<text x ="743" y="290" text-anchor="right">Haymarket</text>
		<text x ="550" y="495" text-anchor="right">Chinatown</text>
		<text x ="523" y="530" text-anchor="right">Tufts Med</text>
		<text x ="500" y="565" text-anchor="right">Back Bay</text>
		<text x ="460" y="600" text-anchor="right">Mass Ave</text>
		<text x ="450" y="635" text-anchor="right">Ruggles</text>
		<text x ="360" y="670" text-anchor="right">Roxbury Crossing</text>
		<text x ="375" y="705" text-anchor="right">Jackson Sq</text>
		<text x ="335" y="740" text-anchor="right">Stony Brook</text>
		<text x ="330" y="775" text-anchor="right">Green St</text>
		<text x ="280" y="810" text-anchor="right">Forest Hills</text>
		
		<!-- orange line labels end -->
		
	</svg>


	</div> <!-- end left_slot -->
	<div>
		<h2 id="station_name"></h2>
		<p id="line"></p>
		<p id="city"></p>
		<p id="subway_connections">Subway connections</p>
		<p id="commuterail_connections">Subway connections</p>
		<p id="bus_connections">Subway connections</p>
		<p id="gm_link">Subway connections</p>
		<p id="wp_link">Subway connections</p>
	</div>
	</div> <!-- end container -->
	<script src="/static/js/d3.v3.min.js" charset="utf-8"></script>
	<script src="/static/js/main.js" charset="utf-8"></script>
			
</body>
</html>